  <link rel="stylesheet" href="view/css/forum.css"></link>
<div class="page_content">
<div class="page_left">
	

<div class="div">
	
	<div class="header" style="font-weight: normal;">
		<table width="100%" cellspacing="0" cellpadding="0" style="word-break: break-all" >
			<tr align="left">
				<td valign="middle" class="subject indextitle">
				{if isset($keyword)?$fid||$keyword:$fid}
					<a href="?forum-index-fid-$fid.htm" rel="nofollow" {if !core::gpc('digest')}class="grey"{/if}>普通主题</a>  
					<a href="?forum-index-fid-$fid-digest-1.htm" rel="nofollow" {if core::gpc('digest')}class="grey"{/if}>精华主题</a>
					<!--{hook thread_list_orderby_before.htm}-->
					<!--{if !core::gpc('digest') && !core::gpc('typeid1') && !core::gpc('typeid2') && !core::gpc('typeid3') && !core::gpc('typeid4')}-->
					<span id="nav_orderby">
						<a href="?forum-index-fid-$fid-page-$page.htm" class="icon icon-orderby-0  $_checked[orderby][0]" title="顶帖时间排序" rel="nofollow" style="vertical-align: top; margin-left: 8px;"></a><a href="?forum-index-fid-$fid-page-$page.htm" class="icon icon-orderby-1  $_checked[orderby][1]" title="发帖时间排序" rel="nofollow" style="vertical-align: top; margin-left: 4px;"></a>
					</span>
					<!--{/if}-->
				{else}
					宝库论坛
				{/if}
					<!--{hook thread_list_orderby_after.htm}-->
				</td>
				<!--{hook thread_list_subject_after.htm}-->
				{if isset($keyword)?$fid||$keyword:$fid}
				<td width="80" class="username fatie">发帖</td>
				<td width="80" class="lastpost huitie">回帖</td>
				<td width="80" class="views chakan" align="center">回复/查看</td>
                
                
                
                {else}
                
				<td>
				<span class="grey today">今日：</span><span class="todayposts ">$conf[todayposts]</span>
                                                                       
				<span class="grey today">主题：</span><span class="todayposts">$conf[threads]</span>
				
                 </td>
                 {/if}                                                 
				<!--{hook thread_list_views_after.htm}-->
			</tr>
		</table>
	</div>
	<div class="body threadlist" id="threadlist">
	
		<!--{hook thread_list_threadlist_before.htm}-->
		{if  isset($keyword)?$fid||$keyword:$fid}

		<!--{loop $toplist $thread}-->
			<!--{require thread_list_line.inc.htm}-->
		<!--{/loop}--> 
		

		<!--如果是首页则展示板块，否则展示-->
		{else}
		<!--展示板块-->
		<!--{loop $conf[forumarr] $_fid $_name}-->
			<!--{require thread_list_line.inc.htm}-->
			
        <!--{/loop}-->
		{/if}	

		
		<!--{if !empty($toplist)}-->
		<div class="bg2" style="line-height: 12px; height: 12px;">
			<div style="width: 56px; float: left;" class="grey"></div>
		</div>
		<hr />
		<!--{/if}-->
		<!-- 这里好像有点问题-->
		{if  isset($keyword)?$fid||$keyword:$fid}

		{loop $threadlist $thread}
			{require thread_list_line.inc.htm}
		{/loop}
		{/if}
		
		<!--{hook thread_list_threadlist_after.htm}-->
</div>
	</div>
	<!-- <div class="footer"></div> -->
	</div>
	{if isset($keyword)}
	<div class="page_right" style="display:none">
		{else}
		<div class="page_right">
			{/if}
		{if !$fid}
		<a href="?post-thread-fid-$fid-ajax-1.htm" target="_blank" onclick="return false;" id="create_thread"  rel="nofollow">
		{else}
		<a href="?post-thread-fid-$fid-typeid1-$thread[typeid1]-typeid2-$thread[typeid2]-typeid3-$thread[typeid3]-typeid4-$thread[typeid4]-ajax-1.htm" target="_blank" onclick="return false;" id="create_thread" rel="nofollow">
			{/if}
		<div class="newt">
			发布新帖
		</div>
		</a>
		<div class="recommand">
			<div class="rec">
				推荐
			</div>
			<div class="rec_content">
				<li class="fir">
					<a href="./?search-index-keyword-鉴定.htm"><span class="twotext left">鉴定</span></a>
					<a href="./?search-index-keyword-地下交易.htm"><span class="fourtext right">线下交易</span></a>
				</li>
				<li class="sec">
					<a href="./?search-index-keyword-古玩知识.htm"><span class="fourtext left">古玩知识</span></a>
					<a href="./?search-index-keyword-估值.htm"><span class="twotext right">估值</span></a>
				</li>
			</div>
		</div>
		
	</div>
</div>
<!--{if !empty($pages)}-->
<div class="page" style="margin: auto; margin-top: 8px; text-align: center; clear: both;">$pages</div>
<!--{/if}-->
<!--{hook thread_list_after.htm}-->

<!--{if $fid && $ismod}-->
<div style="text-align: center; margin-top: 8px;width:715px;">
	<input type="checkbox" name="checkall" id="mod_checkall" /><label for="mod_checkall">全选</label>
	<input type="button" class="button smallblue" id="mod_top"  value="置顶" />
	<!--{if !empty($forum[typecates])}-->
	<input type="button" class="button smallblue" id="mod_type"  value="主题分类" />
	<!--{/if}-->
	<input type="button" class="button smallblue" id="mod_digest"  value="精华" />
	<input type="button" class="button smallblue" id="mod_move"  value="移动" />
	<!--{hook thread_list_mod_before_delete.htm}-->
	<input type="button" class="button smallblue" id="mod_delete"  value="删除" />
	<!--{hook thread_list_mod_end.htm}-->
</div>
<!--{/if}-->

<!--{hook thread_list_mod_after.htm}-->
