*{
	padding:0px;
	font-family: microsoft yahei;
	margin: 0px;
	font-size: 14px;
}
a{
	text-decoration:none;
	color: #000;
}
li{
	list-style: none;
	text-align: center;
}
header{
	//background-repeat: no-repeat;
	background-position: center;
	background-image:url('../../image/baoku/title.png');
}
.head{
	width: 1000px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	
}


.logo{
	width:185px;
	height: 80px;
	position: relative;
	top: 2%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
.search {
	overflow: hidden;
	float: left;
}
.head .text {
	width:359px;
	/* margin-left: 46px; */
}

.head input,.search_sel{
	float: left;
	height: 31px;
	line-height: 31px;
	margin-top: 34px;
	border-color:#a85c29;
	border-style: solid;
	border-width: 1px;
}
.head .button{
	width: 85px;
	background-color: #a37b52;
	color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 33px;
}
.search_sel{
	//float: left;
	margin-left: 46px;
	border-right-width: 0px;
	height: 33px;
}
.search .hot{
    margin-left: 46px;
    margin-top: 68px;
    
}
.search a{
	color:#8e6e58;
	
	
	margin-right: 14px;
	font-size: 14px;
}
.search p{
	overflow: hidden;
	float: left;
}
.login{
	float: left;
	overflow: hidden;
	margin-left: 35px;
	margin-top: 40px;
} 
.login a{
	color:#8e6e58;
	text-decoration:none;
	float: left;
    padding-left: 20px;
}
.login p{
	float: left;
	overflow: hidden;
	margin-right: 14px;

}
.qbcode{
	width:95px;
	height: 102px;
	position: absolute;
	margin-left: 909px;
	top: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('../../image/baoku/qbcode.png');
	float: left;
}

.nav li:hover{
    background-color: #421;
}
.thispage{
    background-color: #421;
}

.title{
	width:100%;
	height: 44px;
	background-color: #673413;
	overflow: hidden;
}
.title .index{
	width: 1000px;
	height: 44px;
	margin-right: auto;
	margin-left: auto;
}
.index .all{
	float: left;
	width: 200px;
	height: 44px;
	background-color: #ad813f;
}
.index a{
	text-decoration:none;
	color: #fff;
	line-height: 44px;
}
.index li{
	text-align: center;
	color: #000;
}
.index .others{
	float: left;
	width:800px;
	height: 44px;
}
.others .nav{
	display: inline;
	float: left;
}
.nav .text {
	float: left;
	width: 90px;
}
.nav img{
	float: left;
	margin-left: -44px;
}
.nav .line{
	float: left;
	line-height: 44px;
	color: #85613a;
}


/**
 *footer
 **/
 .footer,.footer_2{
 	width: 100%;
 	background-color:#f4f1ec;	
 	overflow: hidden;
 }
 .footer{
 	margin-top: 30px;
 	border-bottom-style: solid;
 	border-bottom-width: 1px;
 	border-bottom-color: #e7dccb;
 	height: 150px;
 }
 .footer_2{
 	height: 54px;
 }
 .footer .f_content,.f2_content{
 	width: 1000px;
 	overflow: hidden;
 	margin-right: auto;
 	margin-left: auto;
 }
 .f_content{
 	margin-top: 10px;
 }
 .f2_content{
 	margin-bottom: 10px;
 }
 .f_head{
 	width: 100px;
 	height: 120px;
 	float: left;
 	margin-right: 50px;
 	margin-left: 50px;
 }
 .f_pic{
 	height: 100px;
 	width: 100px;
 	background-position: center;
	background-repeat: no-repeat;
	
 }
 #f_pic_1{
 	background-image:url('../../image/baoku/foot1.png');
 }
 #f_pic_2{
 	background-image:url('../../image/baoku/foot2.png');
 }
 #f_pic_3{
 	background-image:url('../../image/baoku/foot3.png');
 }
 #f_pic_4{
 	background-image:url('../../image/baoku/foot4.png');
 }
 #f_pic_5{
 	background-image:url('../../image/baoku/foot5.png');
 }
 .footer_2 .num{
 	width: 250px;
 	height: 50px;
 	float: left;
 	margin: 13px 30px 0 0;
 	background-position: center;
	background-repeat: no-repeat;
    color: #673413;
    font-size: 20px;
    font-weight: bolder;
    word-break: break-all;

	/* background-image:url('../../image/baoku/num.png'); */
 }
 .footer_2 .f2_texts li{
 	float: left;
 	line-height: 50px;
 	color: #ad813f;
 } 
 .footer_2 .f2_text  {
 	width: 115px;
 	
 }
 .footer_2 .f2_text a{
 	color: #ad813f;
 }

.content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.bread{
	margin-top: 16px;
	overflow: hidden;
}
.bread li{
	float: left;
}
.bread a{

}
#gongao{width:100%;height:30px;overflow:hidden;line-height:30px;font-size:13px;font-family:'宋体';background:#fff;color:#ad813f;font-weight:bold;} 
#gongao #scroll_begin, #gongao #scroll_end{display:inline} 
#gongao img{
	position: absolute;
	width: 22px;
	top:4px;
}
.code{
	width: 80px;
	margin-left: 40px;
	border: 1px #eadbc4 solid;
	height: 44px;
	line-height: 44px;
	padding-left: 16px;
}
.item{
	width: 200px;
	min-height: 45px;
	overflow: hidden;
	background-color: #edeced;
	position: absolute;
	margin-left: 200px;
	margin-top: -45px;
	z-index: 100;
	display: none;
}
.content_head{
	/*width: 200px;
	overflow: hidden;
	float: left;
	//position: relative;*/


}
.content_head .goods{
	width: 200px;
	height: 45px;
	text-align: center;
	background-color: #edeced;
	line-height: 45px;
}
.goods .goods_line{
	width: 194px;
	height:44px;
	border-bottom-color: #c5bfbd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-right: auto;
	margin-left: auto;
}