.c_head{
	margin-top: 16px;
}
.c_head li{
	float: left;
}
.c_head a{

}
.d_first,.d_second,.f_texts{
	width: 100%;
	overflow: hidden;
	float: left;
}
.d_first{
	width: 998px;
	height: 465px;
	margin-top: 16px;
	border-style: solid;
	border-color:#d6c09f;
	border-width: 1px;
	float: left;
}
.f_pics,.f_texts{
	height: 100%;
	float: left;
}
.f_pics{
	width: 40%;
}
.f_texts{
	width: 58%;
    margin-left: 2%;
}
.b_pic,.s_pic{
	width: 100%;
	float: left;
	text-align: center;
}
.b_pic{
	height: 365px;
}
.b_pic img{
	max-width: 399px;
	max-height: 365px;
	margin: 0 auto;
	position: relative;
top: 10%;
}
.s_pic{
	height: 100px;
}
.s_pic img{
	max-height: 58px;
	max-width: 58px;
	margin-right: 5px;
	margin-left: 5px;
	border:solid;
	border-width: 1px;
	border-color: #fff;
}
.s_pic img:hover{

	border-color: #b94976;
}
.s_pic_con{
	/*width: 306px;*/
	height: 70px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.f_texts_title{
	overflow: hidden;
	font-size: 22px;	
	margin: 31px 25px 0 0;
	height: 44px;
	border-bottom-style: solid;
	border-bottom-width:1px;
}
.f_texts_con{
	overflow: hidden;
	height: 280px;
    margin-top: 14px;
}
.f_texts_con li{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	
}
.f_texts_con li img{
	position: absolute;
}
.f_texts_con span,.f_texts_con li{
	font-size: 18px;
}
.f_click{
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.f_buttons{
	overflow: hidden;
	margin-top: 25px;
}
.f_button{
	width: 120px;
	height: 40px;
	float: left;
	margin-right: 50px;
	background-color: #a37b52;
	font-size: 18px;
	color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
.f_button:hover{
    background-color: #b86;
}
#f_button{
	background-color: #673413;
}
#f_button:hover{
    background-color: #753;
}
.d_second{
	margin-top: 36px;/*
	min-height: 1340px;*/
}
.s_left,.s_right{
	float: left;
	overflow: hidden;
}
.s_left{
	width: 200px;
	/*min-height: 1340px;*/
}
.s_right{
	margin-left:26px; 
	width: 770px;
	//height: 1140px;
	border-style: solid;
	border-width: 1px;
	border-color: #673413;
}
.s_about,.s_friends,.s_goods,.s_solder{
	width: 198px;
	border-style: solid;
	border-width: 1px;
	border-color: #ad813f;
	float: left;
}
.s_friends,.s_goods,.s_solder{
	margin-top: 26px;
}
.s_about{
	/*min-height: 645px;*/
}
.s_goods{
	/*min-height:200px;*/
}
.s_friends{
	/*min-height: 240px;*/
}
.s_solder{
	/*min-height:164px;*/
}
.s_right_title,.s_left_title{
	width: 100%;
	height: 44px;
	
	line-height: 44px;
	font-size: 18px;
	color: #fff;
}
.s_left_title{
	background-color: #ad813f;
	text-align: center;
}
.s_right_title{
	background-color: #673413;
	text-align: left;
	padding-left: 26px;
}
.s_left_con{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 44px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
#s_left_con{
	border: none;
}
.s_about_detail{
	width: 100%;
	min-height:200px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #eeeeee;
}
.s_about_pic{
	text-align: center;
	margin-top: 10px;
	width: 130px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}
.s_about_pic img{
	margin-top: 5px;
	max-width: 130px;
	max-height: 130px;
}
.s_about_detail p{
	margin-top: 1px;
	text-align: center;
	width: 136px;
	margin-left: auto;
	margin-right: auto;
}
.b_price{
	text-decoration: line-through;
	color: #9b9d9b;	
}
.s_price{
	color: #a88177;
}
.s_right_pic{
	width: 530px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
}
.s_right_pic img{
	max-width: 240px;
	max-height: 240px;
	margin-right: 5px;
	margin-left: 5px;
}
.s_right_desc{
	width: 670px;
	margin: 30px auto;
	overflow: hidden;
}
.jian{
	position: relative;
float: right;
right: 72px;
top: 20px;
font-size: 18px;
}

#demo { margin:0 auto; width:350px; }

#wraper { position:relative; width:350px; height:350px; background:#fff url(images/loading.gif) no-repeat center center; padding: 17px 0; }
#small { width:350px; height:350px; overflow:hidden; }
#mask { display:none; position:absolute; left:0; top:0; z-index:2; height:100px; overflow:hidden; width:100px; border:1px dashed #999; cursor:move; }
#mask div { background:#fff; opacity:.4; filter:alpha(opacity:40); height:100px; }
#big { height:400px; width:400px; position:absolute; top:-5px; left:370px; z-index:1; border:5px solid #fff; background:#fff url(images/loading.gif) no-repeat center center; overflow:hidden;}
#bg { background:black; position:absolute; left:0; top:0; height:350px; width:350px; z-index:1; opacity:0; filter:alpha(opacity:0 );  }
#big img { position:absolute; left:0; top:0; z-index:0; }