.bread{
	margin-top: 16px;
	overflow: hidden;
}
.bread li{
	float: left;
}
.bread a{

}

.goods-num{float: right;padding-right: 20px;color: #673414}


#left-wrap{width: 200px;background-color: #eee;overflow: hidden;margin-top: 16px;float: left;}

.userinfo-1,.userinfo-2{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 1px;
    border-color: #aaa;
    border-style: solid;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    color: #673413;
}
.userinfo-1{
    height: 60px;line-height: 60px;background-color: #ddd;font-size: 20px;
}
.userinfo-2{
    height: 40px;line-height: 40px;
}

#left-wrap li:hover , .userinfo-choose{
    background-color: #bbb;
}

#last {border-bottom: 0px;}

.goods-list{width: 774px;border:1px;border-style: solid;border-color: #e9dcc5;float: right;margin-top: 16px;}


.goods-list thead {height: 40px;background-color: #ad813f;line-height: 40px;color: #fff;cursor: default;}

.goods-list table{border-spacing:0px; border:1px;border-collapse: collapse;}


.pic{text-align: left;padding-left: 10px;padding-right: 10px;}
.pic img{float: left;max-width: 80px;
max-height: 80px;}

.goods-info{float: left;padding-top: 15px;}
.goods-title{max-width: 203px;}
.goods-price{color: #673413;margin-top: 5px;}

.items{height: 130px;border-bottom:1px;border-style: solid;border-color: #e9dcc5;border-top: 0px;border-right: 0px;border-left: 0px;}