.form-content{border: 1px;border-style: solid;border-color: #eadbc4;margin-top: 16px;padding-bottom: 30px;padding-top: 24px;float: right;padding-right: 20px;color: #673414;width: 734px;position: relative;}
.row{padding-left: 40px;overflow: hidden;line-height: 40px;}
.nes-tip{color: red}
.input-title{width: 70px;display: inline-block;}
.error{ color:red; padding-left: 25px;height: 30px;position: relative;bottom: 10px;}

.toedit{ text-decoration: underline; color: #673414; }
.toedit_forum{ text-decoration: underline; color: #673414; }

.input-content{margin-left: 20px;width: 200px;height: 28px;padding-left: 10px}
input{border:1px;border-style: solid;border-color: #e8dcc4;}

.submit-btn{width: 220px;height: 32px;line-height:32px;color: #fff;background-color: #ad813f;margin-left: 270px;margin-top: 30px;}

.none{opacity: 0}

#left-wrap{width: 200px;background-color: #eee;overflow: hidden;margin-top: 16px;float: left;}

.userinfo-1,.userinfo-2{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 1px;
    border-color: #aaa;
    border-style: solid;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    color: #673413;
}
.userinfo-1{
    height: 60px;line-height: 60px;background-color: #ddd;font-size: 20px;
}
.userinfo-2{
    height: 40px;line-height: 40px;
}

#left-wrap li:hover , .userinfo-choose{
    background-color: #bbb;
}

.goods-num{float: right;padding-right: 20px;color: #673414}

#last{border-bottom: 0px;}

.area-select{width: 100px;}

.customer_info{margin-left: 30px;}

.input-tip{color: #ccc;font-size: 12px;margin-left: 10px;}