.bread{
	margin-top: 16px;
	overflow: hidden;
}
.bread li{
	float: left;
}
.bread a{

}
.nav-category-wrap{margin-left: 100px;}
.nav-category-group{clear: both;margin-top: 16px;border: 1px;border-color: #ccc;border-style: solid;}

.nav-category{border:0;border-bottom: 1px;border-color: #ccc;border-style: dashed;width: auto;float: none;overflow: hidden;line-height: 44px;min-height:44px;position: relative;}
.nav-category-content li{height: 44px;line-height: 44px;}
.nav-category h4{width: 80px;background-color: #673413;color: #fff;padding-left: 20px;float: left;overflow: hidden;min-height: 44px;position: absolute;height: 100%}
.nav-category-group .lastline{border-bottom: 0px;}

.nav-category-content{float:left;overflow: hidden;margin-left: 24px;}
.nav-category-content li{
	margin-right:30px;
	float: left; 
 }

 .sortbar{height: 44px;line-height: 44px;background-color: #673413;margin-top: 16px;color: #ccc;overflow: hidden;}
 .sort-btn{overflow: hidden;}
 .sort-btn li{float: left;width: 100px;}
 .sort-btn li a{color: #fff;}

 .price-sort{overflow: hidden;}




.active {background-color: #a37b52}


.item-content{margin-top: 16px;}
.row{overflow: hidden;margin-bottom: 4px;}
.col{position: relative;border: 1px;border-style: solid;border-color: #ccc;width: 245px;height:248px;float: left;margin-right: 4px;}
.col_img{width: 100%; height: 180px;position: relative;}
.col img{width: 100%; height: 100%;}
.col-last{margin-right: 0px;}
.price-info{padding-left: 10px;padding-bottom: 24px}
.item-title{padding-left: 10px;margin-top: 16px;}
.price-info .delete{text-decoration: line-through;color: #ccc}
.price{color: #a80f0a}

.delete-select{margin-left: 5px;color: #fff}




.button-selected{background-color: #a37b52;height: 26px;line-height: 26px;padding-left: 10px;padding-right: 10px;margin-left: 20px;color: #fff;}

.goods-page{float: right;margin-top: 16px;}

.goods-page a{width: 24px;height: 24px;line-height:24px;background-color: #a37b52;color: #fff;display: inline-block;text-align: center;}
.goods-page a span{font-size: 12px;}
.goods-page .active{background-color: #673413}
.page-input{width: 40px;border:1px;border-color: #ccc;border-style:solid;}

.page-sel-btn{width: 60px;height:24px;color: #fff;background-color: #a37b52;font-size: 12px;}

.jian{
	float: right;
margin-left: 10px;
position: absolute;
right: 0px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
background-color: #ad813f;
overflow: hidden;
color: #fff;
font-size: 20px;
}
.detail{
	position: absolute;
width: 246px;
height: 50px;
/*height: auto!important;*/
/*bottom: -426px;*/
background: #edeceb;
z-index: 50;
/*display: none;*/

}